

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../img/age.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-box{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.login-box h1{
  text-align: center;
  font-size: 40px;

  margin-bottom: 50px;
  padding: 13px 0;
}
.texbox{
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;

}

.texbox i{
  width: 26px;
  float: left;
  text-align: center;
  margin-top: 20px;
  padding-left: 7px;
}
.texto input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 100px;
  float: left;
  margin: 0px 10px;
}
.texto{
  border-bottom: 1px solid #4caf50;
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  text-align: center;
}
.btn{
  width: 80%;
  background: none;
  border: 2px solid #4caf50;
  border-radius: 20px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top:20px;
  margin-left:25px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.btn:hover{
  background: #4caf50;
}
